@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Demo project for deployment</h1>
    <h1>add for checking git repo</h1>
    <h2>Application deployed</h2>
</div>
